.grafy {
    width: 100%;
    min-height: 77vh;
    margin: 0;
    border: 0;
}

#csv {
	display: none;
}

.grafimg {
    width: 100%;
}

@media (max-width: 600px) {
    .grafy {
        min-height: auto;
    }
}